bin
obj
App.config
/.vs/AutoTrash/v16/.suo
/AutoTrash.sln
.vs/AutoTrash/v17/.suo
.vs/AutoTrash/DesignTimeBuild/.dtbcache.v2
.vs/AutoTrash/FileContentIndex/748d7039-8449-4530-b206-a1998f28e065.vsidx
/.vs
